<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/register.css">

    <title>Register</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="top-header-sub">
                <div class="logo"> 
                    
                    <!-- <img src="images/kisspng-lacrosse-glove-motorcycle-dainese-thailand-5b1993667e2058.7515640615284027905166.png" alt="Logo de MercadoLiebre"> -->
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input" >Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <main>
        <form action="#/" method="POST">
            <div class="form-field">
                <label for="nombre-apellido">
                    <input type="text" placeholder="Nombre y Apellido" id="nombre-apellido" name="nombre" minlength="2" required>
                </label>

            </div>

           
            <div class="form-field">
                <label for="username">
                    <input type="text" placeholder="Nombre de usuario" id="username" name="username" minlength="2" required>
                </label>
            </div>

            <div class="form-field">
                <label for="email">
                    <input type="email" placeholder="Email" id="email" name="email">
                </label>
            </div>

            <div class="form-field">
                    <label for="fechaNac" class="tag"> Fecha de Nacimiento:</label>
                    <input type="date"  id="fechaNac" name="fechaNac">
            </div>

            <div class="form-field">
  
                    <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio">
            </div>

            <div class="form-field">
                <label class="tag">  Perfil de usuario:</label> 
                    <input type="radio" id="vendedor" name="perfil" value="vendedor">
                    <label for="vendedor"> Vendedor</label>
                    <input type="radio" id="comprador" name="perfil" value="comprador" > 
                    <label for="comprador"> Comprador</label>
                
            </div>

            <div class="form-field">
                
                <label class="tag" >Intereses:      </label>

                <input type="checkbox" name="electro" value="electro" id="electro">
                <label for="electro">Electro</label>
                
                <input type="checkbox" name="hogar" value="hogar" id="hogar">
                <label for="hogar">Hogar</label>
                
                <input type="checkbox" name="moda" value="moda" id="moda">
                <label for="moda">Moda</label>
                
                <input type="checkbox" name="jugueteria" value="jugueteria" id="jugueteria">
                <label for="jugueteria">Jugueteria</label>
                
                <input type="checkbox" name="vida-sana" value="vida-sana" id="vida-sana">
                <label for="vida-sana">Vida sana</label>
            
            </div>

            <div class="form-field">
                <label>
                    <input type="file"  name="foto" alt="ingresar foto">
                </label>
            </div>

            <div class="form-field">
                    <input type="password" name="password" placeholder="Contraseña" minlength="4" required>               
            </div>


            <div class="form-field">
                    <input type="password" name="password-confirm" placeholder="Confirmar contraseña" minlength="4" required>               
            </div>

            <input type="submit" name="enviar" id="enviar">
            <input type="reset">



        </form>
    </main>

    <footer>
        <section class="footer-section">                     
        <article>
            <p><i class="fas fa-credit-card"> </i></p>

            <b> Pagá con tarjeta o en efectivo</b>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>

        <article>
            <p><i class="fas fa-gift"></i></p>
            <b> Envío gratis desde $ 2.500</b>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>

        <article>
            <p><i class="fas fa-user-shield"></i></p>
            <b> Seguridad, de principio a fin</b>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        </section>
            <p><b> Copyright © 1999-2020 MercadoLiebre S.R.L.</b></p>

    </footer>
</body>
</html>