form{
    /* text-align: center; */
    width: 90%;
    margin: 10px auto;
  
  
}

label{
text-align: start;
}

input {
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    width: 100%;
    border:none;
    padding: 2px;
}

input[type="checkbox"], input[type="radio"]{
   
    width: 50%;
}

input[type="submit"]{
    background-color: blue;
    color: white;
 }

input:invalid{
 
    border:2px solid red;
   
}


@media (min-width: 769px){

    form{
        width: 50%;
    }

}