
:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}


form{
    /* text-align: center; */
    width: 90%;
    margin:  10px auto;

}

label{
text-align: start;
}

input {
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 15px;
    width: 100%;
    border:none;
    border-bottom: 1px solid blue;
    background-color: var(--Gris-claro);
    padding: 2px;
}

input[type="submit"],input[type="reset"] {
    background-color: blue;
    color: white;
 }


input[type="checkbox"], input[type="radio"]{
   
    width: 50%;
}


input:not(:placeholder-shown):invalid{
    border:2px solid red;  
}

.tag{
    color: blue;
    font-weight: bold;
    display: block;
}

@media (min-width: 769px){

    form{
        width: 50%;
    }

}